<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">linker</h3>
</div>
<div class="controller">
  <span class="left" ng-click="left()">
    left  
  </span>
  <span class="up" ng-click="up()">
    up  
  </span>
  <span class="down" ng-click="down()">
    down  
  </span>
  <span class="right" ng-click="right()">
    right  
  </span>
</div>
<div class="window">
  <div class="game-window" ng-style="gameWindow"></div>
  <div class="ball" ng-style="position"></div>
</div>